@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}
/* Shared Styles*/
.font-family {
    font-family: "Quicksand", serif;
}
.text-primary-color-yellow{
    color: rgb(254, 163, 1);
}
.text-primary-color-blue{
    color: rgb(1, 172, 253);
}
.text-secondary-color-blue{
    color: rgb(5, 212, 223);
}
.text-secondary-color-purple{
    color: rgb(93, 88, 239);
}
.text-black{
    color: rgb(17, 17, 17);
}
.text-grey{
    color: rgb(128, 128, 128);
}
.text-white{
    color: rgb(255, 255, 255);
}
.bg-primary-color-yellow{
    background-color: rgb(254, 163, 1);
}
.bg-primary-color-blue{
    background-color: rgb(1, 172, 253);
}
.bg-secondary-color-green{
    color:rgb(149, 178, 38);
}
.bg-black{
    background-color: rgb(17, 17, 17);
}
.bg-white{
    background-color: rgb(247, 247, 247);
}
.display-flex{
    display: flex;
}
.hide{
    display: none;
}
nav,
.banner,
.curriculum,
.stories-card{
    padding: 16px 0;
    width: 87%;
    margin: 0 auto;
}
/* navbar */
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 100%;
}
#nav-tittle{
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}
.nav-links{
    gap: 30px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.nav-btn{
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    width: 183px;
    height: 46px;
}
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-box-1{
    flex-direction: column;
}
.banner-box-1 h1{
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.banner-box-1 p{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 24px;
}
.banner-box-1 button{
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    width: 12rem;
    height: 3rem;
}
.banner-box-2 img{
    width: 100%;
}
/* Standard Curriculum  */
.card-section{
    background-image: url("assets/bg.png");
    background-size: cover;
}
.card-tittle{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 60px;
}
.curriculum{
    justify-content: space-between;
    gap: 28px;
}
.curriculum-card{
    padding: 50px 40px;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
}
.cc1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.cc2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.cc3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.curriculum-card p,a{
    font-size: .94rem;
    font-weight: 500;
}
.curriculum-card a{
    text-decoration: none;
}
/* responsive */
@media screen and (max-width: 576px) {
    #nav-tittle,
    .nav-links,
    .nav-btn{
        display: none;
    }
    .nav-btn-img{
        display: block;
    }
    .navigation{
        border-bottom: 2px solid rgb(254, 163, 1);
    }
    .banner{
        flex-direction: column-reverse;
    }
    .curriculum{
        flex-direction: column;
    }
    .banner-box-1{
        align-items: center;
        text-align: center;
    }
}